Lists-
heterogenous,mutable,ordered,duplicates are allowed

In [6]:
a=[1,3,"apple",4.5,True,4+5j,"apple"]
print(a)
print(a[3])
print(a[0:3])

a[4]="Orange"
print(a)

[1, 3, 'apple', 4.5, True, (4+5j), 'apple']
4.5
[1, 3, 'apple']
[1, 3, 'apple', 4.5, 'Orange', (4+5j), 'apple']

List methods-

append
remove
extend
insert
pop
clear
index
count
sort
reverse
copy
deepcopy

In [ ]:
#append - to add elements into the list,sits at the end of the list
a=[1,2,3,4]
a.append(5)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [6]:
#extend - to add multiple elements to the list

a=[1,2,3,4,5]
a.extend([6,5,6])
print(a)

b=[9,10,11]
b.extend(a)
print(b)

[1, 2, 3, 4, 5, 6, 5, 6]
[9, 10, 11, 1, 2, 3, 4, 5, 6, 5, 6]

In [ ]:
#index

a=[1,2,3,4,5]
a.index(5)

#insert
a.insert(0,1)   #insert(index position,element to insert)
print(a)

[1, 1, 2, 3, 4, 5]

In [13]:
#pop
a.pop()
print(a)

a.pop(0)
print(a)

[1, 1, 2, 3]
[1, 2, 3]

In [15]:
#remove
a=[1,2,3,4,5]
a.remove(4)
print(a)

[1, 2, 3, 5]

In [16]:
#clear
a.clear()
print(a)

[]

In [ ]:
#count
a=[1,2,3,4,4,7,8,9,10,11,34]
a.count(4)

2

In [48]:
#sort
a=[1,2,3,85,23,10,11,7]
b=a.sort()
print(a)

[1, 2, 3, 7, 10, 11, 23, 85]

In [35]:
#copy

a=[1,2,3,4]
b=a.copy()
print(b)


a.append(5)
print(a)
print(b)

a=[1,2,3,4,[5,6]]
b=a.copy()
print(a)

b[4][0]=100
print(b)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, [100, 6]]
[1, 2, 3, 4, [100, 6]]

In [26]:
a=[1,2,3,4]
b=a

print(a)
print(b)

a.append(5)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [32]:
import copy
a=[1,2,3,4,[5,6]]
b=copy.deepcopy(a)
print(b)

b[4][0]=100
print(b)
print(a)

[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, [100, 6]]
[1, 2, 3, 4, [5, 6]]

#built-in functions that can be used with lists

del
len
max
min
sum
sorted

In [ ]:
a=[1,2,3,4,7,8]
print(len(a))
print(sum(a))
print(max(a))
print(min(a))
print(sorted(a))

a=[1,2,3,6,4,1,0]
new_a=sorted(a)
print(new_a)
print(a)

6
25
8
1
[1, 2, 3, 4, 7, 8]
[0, 1, 1, 2, 3, 4, 6]
[1, 2, 3, 6, 4, 1, 0]

In [ ]:
a=[1,2,5,9,10]
del(a[1:3])
print(a)

del(a[0])
print(a)

[1, 9, 10]
[9, 10]

In [55]:
#membership operators
#in and not in

a=[34,67,12,90]
print(34 in a)
print(10 in a)
print(92 not in a)
print(67 not in a)

True
False
True
False

TUPLES-

Tuples are ordered,heterogenous,unchangeable,allows duplicates

In [61]:
a=(1,2,3,"red",1.5,4,2,3)
print(type(a))

<class 'tuple'>

In [64]:
print(a[0])
print(a[0:3])

1
(1, 2, 3)

In [ ]:
#tuple methods-count,index

a=(3,5,7,6,6,3,5,3)
print(a.count(3))
print(a.index(7))

t=6,7,8       #tuple packing
print(type(t))

a,b,c=t     #tuple unpacking
print(a)
print(b)
print(c)

3
2
<class 'tuple'>
6
7
8

In [69]:
#built-in functions that can be used with tuple
t=(3,4,6,7,8,3)
print(len(t))
print(min(t))
print(max(t))
print(sum(t))

6
3
8
31

SETS-

ITEMS ARE UNORDERED,HETEROGENOUS,ELEMENTS MUST BE UNIQUE,DUPLICATES ARE NOT ALLOWED, ELEMENTS MUST BE IMMUTABLE.

HASHABILITY-
ELEMENTS STORED WITHIN THE SET MUST BE IMMUTABLE WHICH MEANS HASHABILITY IS FOLLOWED
AN ELEMENT IS CALLED HASHABLE WHEN IT IS OF IMMUTABLE TYPE AND CAN BE STORED WITHIN SET.

In [9]:
#defining a set
a={"monday",2,4,2.5,True,4+2j,2,4}
print(a)
print(type(a))

b=set(["tuesday",2,2.5,False,3+4j])   #set method
print(type(b))

{True, 2, 2.5, 4, 'monday', (4+2j)}
<class 'set'>
<class 'set'>

In [11]:
a=[1,2,2,1,4,5,"mONDAY","Monday"]
print(a)

b=set(a)
print(b)

[1, 2, 2, 1, 4, 5, 'mONDAY', 'Monday']
{1, 2, 4, 5, 'mONDAY', 'Monday'}

SET OPERATIONS-

UNION
INTERSECTION
DIFFERENCE
SYMMETRIC DIFFERENCE

In [14]:
a={12,13,14}
b={14,15,16}

print(a|b)  #union of two sets
print(a & b) #intersection of two sets
print(a-b) #difference (in a but not in b)
print(a^b) #symmetric difference (not common)

{16, 12, 13, 14, 15}
{14}
{12, 13}
{12, 13, 15, 16}

SET METHODS-

ADD
UPDATE
REMOVE
DISCARD
POP
CLEAR
ISSUBSET
ISSUPERSET
ISDISJOINT
COPY

In [ ]:
#add
s={1,2,3}
s.add(4)
print(s)

#update 
s={1,2,3}
s.update([2,4,6])
s.update({7,8,9})
s.update((10,11,12))
print(s)

#remove
s.remove(6)
print(s)

s.discard(13)
print(s)

s.pop()
print(s)

s.clear()
print(s)

s={1,2,3}
t={1,2,3,4,5,6}
u={4,5,6}
print(s.issubset(t))
print(t.issuperset(s))
print(s.isdisjoint(u))

b=s.copy()
print(b)

{1, 2, 3, 4}
{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}
{2, 3, 4, 7, 8, 9, 10, 11, 12}
set()
True
True
True
{1, 2, 3}

UPDATE OPERATIONS

DIFFERENCE_UPDATE
INTERSECTION_UPDATE
SYMMETRIC_DIFFERENCE_UPDATE

In [ ]:
a={1,2,3,4,5}
b={2,3}

a.difference_update(b)
print(a)

a={1,2,3,4,5}
b={2,3}
a.intersection_update(b)
print(a)

a={1,2,3}
b={2,3,4}
a.symmetric_difference_update(b)  #removes elements present in both sets
print(a)

{1, 4, 5}
{2, 3}
{1, 4}

In [39]:
#built-in functions with sets

print(len(s))
print(max(s))
print(min(s))
print(sum(s))

3
3
1
6