DICTIONARY-

ORDERED,CHANGEABLE,DUPLICATE KEYS ARE NOT ALLOWED,VALUES CAN BE OF ANY DATATYPE,KEYS MUST BE OF IMMUTABLE DATATYPE,A KEY CAN ONLY BE USED ONCE

In [21]:
#defining a dictionary
a={"apple":"red","orange":"orange","banana":"yellow"}
b={1:"apple",2:"orange",3:"banana"}
print(a)
print(b)

{'apple': 'red', 'orange': 'orange', 'banana': 'yellow'}
{1: 'apple', 2: 'orange', 3: 'banana'}

In [ ]:
#access 
print(b[1])
print(b.get(3))  #safe method to access values
print(b.get(5,"no value found"))   #get method with not found message

apple
banana
no value found

In [15]:
#update

a["apple"]="pink"
a["grape"]="green"
print(a)

#updating multiple values

a.update({"apple":"blue","strawberry":"pink"})
print(a)

{'apple': 'pink', 'orange': 'orange', 'banana': 'yellow', 'strawberry': 'pink', 'grape': 'green'}
{'apple': 'blue', 'orange': 'orange', 'banana': 'yellow', 'strawberry': 'pink', 'grape': 'green'}

In [ ]:
#pop
a.pop("grape")  #removes a specific value
print(a)

KeyError: 'grape'

In [ ]:
#popitem  

a.popitem() #removes the last value
print(a)

{'apple': 'blue', 'orange': 'orange', 'banana': 'yellow'}

In [20]:
#clear
a.clear()
print(a)

{}

In [ ]:
#methods for view

a.keys()  #gives only the keys 
a.values() #gives only the values
a.items()  #each key:value pair is called an item

dict_items([('apple', 'red'), ('orange', 'orange'), ('banana', 'yellow')])

In [ ]:
#copy  (shallow copy)
c=a.copy()
print(c)

{'apple': 'red', 'orange': 'orange', 'banana': 'yellow'}

In [ ]:
#dict  (another way of creating a dictionary)

d=dict(a="blue",b="green")
print(d)

e=[1,2,3,4]
f=dict.fromkeys(e,0)  
print(f)

{'a': 'blue', 'b': 'green'}
{1: 0, 2: 0, 3: 0, 4: 0}

In [29]:
#built-in function for dictionaries
print(a)
len(a)

{'apple': 'red', 'orange': 'orange', 'banana': 'yellow'}

3

Exercises-

LISTS-

1. create a list, access first element,access the last element,change or update one value in between the list

2. create a list as nums=[1,2,3,4,5,6]
add 4 at the end,insert 10 at position 1, remove the last element, remove 2

3. nums=[3,6,8,10,2,1,0]

create a sorted copy without changing the original
copy the list safely into another variable

TUPLES-

1.t=(10,20,40,20)
access the second element
count how many times 20 appears

2.t=(5,10)
unpack values into a and b

3.t=(1,2,3)
t[1]=100  
explain the error

SETS-

1.nums=[1,2,3,2,4,4,5]
convert to a set and store unique values

2.a={10,20,30,40,50}
b={20,40}

remove all elements of b from a using a set method

3.which of the following are valid set elements

1
"abc"
(1,2)
[1,2]

DICTIONARIES-

1. student={"name":"alex","age":22}

access name
safely access city(no error)

2. student={"name":"Alex"}

add age
update age

3. student={"name":"alex","age":22,"marks":90}

remove age
remove last inserted item

4. dictionary views

student={"name":"alex","age":22}

view keys
view values
view all key-value pairs

5. subjects=["math","science","english"]

create a dictionary where all subjects start with marks 35

NESTED STRUCTURES

A nested structure is when on data structure exists inside another

1. List inside a list
2. List of tuples
3. List of dictionaries
4. Dictionary of lists
5. Dictionary of tuples
6. Dictionary inside a dictionary
7. Mixed nesting
8. Set inside a list
9. List inside a tuple
10. Dictionary inside a list inside a dictionary (comman api format)

accessing methods-
[] - for a list/tuple
key - for a dictionary

In [4]:
#1. List inside a list  (a matrix)

a=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]
  ]

print(a[2][2])
print(a[1])

9
[4, 5, 6]

In [5]:
#2. List of tuples

b=[
   (1,2,3),
   (4,5,6),
   (7,8,9)
   ]

print(b[1][2])

6

In [6]:
#3.List of dictionaries

c=[
  {1:"red",2:"blue",3:"orange"},
  {"name":"alex","age":22,"subject":"python"},
  {"name":"sam","age":20,"subject":"sql"}
  ]

print(c[2]["subject"])

sql

In [8]:
#4. Dictionary of lists

marks={
    "math":[60,70,80],"sql":[60,60,40],"science":[90,80,70]
   }

print(marks["science"])
print(marks["sql"][1])

[90, 80, 70]
60

In [9]:
#5.dicitonary of tuples

locations={
           "delhi":(26.76,22,45,28.56),
           "mumbai":(19.0,20.56,23.20)
           }

print(locations["delhi"])
print(locations["mumbai"][2])

(26.76, 22, 45, 28.56)
23.2

In [ ]:
#nested dictionary
company={"emp1":{"name":"Alex","Salary":50000},
         "emp2":{"name":"Sam","Salary":60000}
        }
print(company["emp1"]["Salary"])

50000

In [12]:
#mixed nesting
delta={
        "students":[
                   {"name":"alex","marks":[80,90]},
                   {"name":"sam","marks":[70,85]}
                   ]
      }

print(delta["students"][0]["marks"][1])
print(delta["students"][1]["name"])

90
sam

In [ ]:
#sets inside a list
groups=[{1,2},{3,4},{5,6}]  #indexing is not allowed in sets
print(groups[0])

{1, 2}

In [16]:
#list inside a tuple
data=([1,2],[3,4])
print(data[0][1])

2

In [17]:
#dictionary inside a list inside a dictionary
api_data={"results":[
                     {"id":1,"score":90},
                     {"id":2,"score":85}
                     ]
          }

print(api_data["results"][1]["score"])

85

In a dataset strings or text data can have errors so we have certain methods for cleaning and sorting our data

some examples of unclean strings-

"  bangalore"
"   bangalore   "
"bangalore   "
"Male/Female"
"john@gmail.com"
"2024-01-15"

to clean and reshape data before analysis we use string methods like-
strip()
replace()
split()
join()
find()

In [4]:
dept="   Sales  "
print(dept)
cleaned_dept=dept.strip()
print(cleaned_dept)

dept="  sales"
print(dept)
cleaned_dept=dept.rstrip()
print(cleaned_dept)
cleaned_dept=dept.lstrip()
print(cleaned_dept)

dept="sales   "
print(dept)
cleaned_dept=dept.lstrip()
print(cleaned_dept)
cleaned_dept=dept.rstrip()
print(cleaned_dept)

price="$400$"
clean_price=price.strip("$")
print(clean_price)
print(price.lstrip("$"))
print(price.rstrip("$"))

   Sales
Sales
  sales
  sales
sales
sales
sales
sales
400
400$
$400

In [9]:
status="Not available"
new_status=status.replace("Not available","N/A")
print(new_status)
print(status.replace(" ",""))

salary="$3,40,000"
print(salary.replace(",",""))

number="+91-9083939-823"
print(number.replace("+91-",""))

email="register.45#gmail.com"
print(email.replace("#","@"))

N/A
Notavailable
$340000
9083939-823
register.45@gmail.com

In [16]:
full_name="Rahul Sharma"
print(full_name.split(" "))

email="rahul@gmail.com"
print(email.split("@"))

date="03-12-2023"
print(date.split("-"))

day,month,year=date.split("-")
print(year)
print(month)
print(day)

['Rahul', 'Sharma']
['rahul', 'gmail.com']
['03', '12', '2023']
2023
12
03

In [24]:
a=["red","blue","orange"]
b=" ".join(a)
print(b)
c="-".join(a)
print(c)

nums=["23","12","2023"]
date="/".join(nums)
print(date)

red blue orange
red-blue-orange
23/12/2023

In [ ]:
a="data analysis"
print(a.find("analysis"))
print(a.find(" "))
print(a.find("a"))
print(a.find("z"))  #-1 if not found

first=a.find("a")
print(a.find("a",first+1))  #second occurence of a

5
4
1
-1
3

In [ ]:
#extracting text between delimiters
a="abc[Data]/hhsj"
start=a.find("[")  
end=a.find("]")  
new_a=a[start+1:end]  
print(new_a)

Data

In [37]:
a="real"
print(a.upper())
b="YELLOW"
print(b.lower())
d="    YELLOW"
print(d.strip().lower())
c="the united states of america"
print(c.capitalize())
print(c.title())

price=" $1,20,000"
print(price.strip().replace("$","₹").replace(",",""))

REAL
yellow
yellow
The united states of america
The United States Of America
₹120000

isalpha
isdigit
isalnum
startswith
endswith

In [ ]:
a="tiger"
print(a.isalpha())
b="1234"
print(b.isdigit())
c="123Abc"
print(c.isalnum())
email="abc.12@gmail.com"
print(email.startswith("abc"))
print(email.endswith("com"))

True
True
True
True
True

In [ ]:
a="good good service"
print(a.count("good"))

2

1. take  a variable with phone number stored
extract last 4 digits from the number

phone="+91-987896-9879"
area_code,number,last_4=phone.split("-")
print(last_4)

2. take  a string check if value is empty string then print "missing"

3. take  a string "john DOE" print it in proper format
--> output- "John Doe"

In [ ]:
#1. take  a variable with phone number stored
#extract last 4 digits from the number

phone="+91-987896-9879"
country_code,number,last_4=phone.split("-")
print(last_4)

9879

In [47]:
#2. take  a string check if value is empty string then print "missing"
a=""
print(a.replace("","missing"))

missing

In [48]:
#3. take  a string "john DOE" print it in proper format
#--> output- "John Doe"

a="john DOE"
print(a.lower().title())

John Doe

swapcase
casefold
format_map
isascii
isdecimal
isprintable
isspace

In [ ]:
a="aYbWvW"
print(a.swapcase())

b="wERE"
print(b.casefold())

 #casefold is the same as lower() 
 # except casefold also works on other language characters
 
c="swaß"
print(c.casefold())

AyBwVw
were
swass

In [ ]:
#format_map() is for dictionary based formatting 
data={"name":"arun","age":23}
print("His name was {name} and his age was {age}".format_map(data))

His name was arun and his age was 23

In [8]:
#isascii
a="Hello"
print(a.isascii())
b="bén"
print(b.isascii())

True
False

In [ ]:
#isdecimal
#here decimal is similar to digit 
a="12.5"
b="12"

print(a.isdecimal())
print(b.isdecimal())

False
True

In [ ]:
a=" "
print(a.isspace())

a="\n"
print(a.isprintable())  #escape sequence characters cannot be printed

True
False

Regex-
A way to search,extract,validate, or replace text using patterns.

examples-
Find phone numbers
Find emails
Remove symbols
Split messy data

Python uses the re module for this.
"import re"

most used functions-
re.search()
re.findall()
re.sub()
re.split()
re.match()

regex symbols-

PATTERN              MEANING
\d                     digit
\D                     non-digit
\w                     letter/number
\W                     Special character
\s                     space

.                      any character
+                      one or more
*                      zero or more
^                      start
$                      end
[abc]                  any of a/b/c

In [15]:
#re.findall()
#returns all matches

import re
text="Order 123,amount 450"

nums=re.findall(r"\d+",text)
print(nums)

['123', '450']

In [ ]:
re.findall(r"\w+","Data 1Science!")  #letters or numbers

['Data', '1Science']

In [ ]:
#re.sub
#replaces using pattern

phone="+91-98765 43210"
clean_phone=re.sub(r"\D","",phone)
print(clean_phone)

text="Hello@#World"
re.sub(r"\W"," ",text)  #special characters


text="DATA     SCIENCE"
re.sub(r"\s+"," ",text)  #space characters

919876543210

'DATA SCIENCE'

In [25]:
#re.split() 
#for mulitple delimiters

text="Python,SQL | Excel"
print(re.split(r"[,|]",text))

date="21-12/2023"
print(re.split(r"[-/]",date))

['Python', 'SQL ', ' Excel']
['21', '12', '2023']

In [ ]:
#re.search()
#check if match found

text="my id is 123"
result=re.search(r"\d+",text)
print(result)

<re.Match object; span=(9, 12), match='123'>

In [27]:
#re.match()
#to find the match at position 1

print(re.match(r"\d","1abc"))
print(re.match(r"\d","abc1"))

<re.Match object; span=(0, 1), match='1'>
None

In [ ]:
#extract email username

email="john@gmail.com"
email1="john.123@gmail.com"
email2="john12@gmail.com"

re.findall(r"^\w+",email2)

['john12']

In [ ]:
#validate pincode(must be 6 digits)
code="560001"
re.findall(r"^\d{6}$",code)
bool(re.match(r"^\d{6}$",code))

#since we are validating 
#we need a true or false result hence bool function is used

['560001']

Character
Description
Example

[]
A set of characters
"[a-m]"
\
Signals a special sequence (can also be used to escape special characters)
"\d"
.
Any character (except newline character)
"he..o"
^
Starts with
"^hello"
$
Ends with
"planet$"
*
Zero or more occurrences
"he.*o"
+
One or more occurrences
"he.+o"
?
Zero or one occurrences
"he.?o"
{}
Exactly the specified number of occurrences
"he.{2}o"
|
Either or
"falls|stays"