Loops

Loops are used to execute the same block of code multiple times without writing the code repeatedly.

There are two types-
FOR LOOP
WHILE LOOP

FOR LOOP-
A for loop runs once for every item in a collection

collection=list,string,dictionary,etc

syntax-
for item in iterable:
    action

In [1]:
students=["Raj","Sam","Max","Rekha"]

for name in students:
    print(name)

Raj
Sam
Max
Rekha

In [2]:
genders=["M","F","m"]

for g in genders:
    print(g.lower())

m
f
m

In [3]:
#with condition
marks=[30,50,90]

for m in marks:
    if m>=40:
        print("pass")
    else:
        print("fail")

fail
pass
pass

In [4]:
word="DATA"
for w in word:
    print(w)

D
A
T
A

In [ ]:
#checking for vowels
word="daTA"
for ch in word:
    if ch.lower() in "aeiou":
        print(ch)

a
A

In [1]:
words="data"
for c in words:
    if c in "aeiou":
        print(c)

a
a

In [2]:
emp={"name":"rahul","dept":"IT"}

for i in emp:
    print(i)

for v in emp.values():
    print(v)

for k,v in emp.items():
    print(k,v)

name
dept
rahul
IT
name rahul
dept IT

In [ ]:
#email validation
emails=["abc@gmail.com","","123@gmail.com",""]

for e in emails:
    if not e:
        print("Missing")
    else:
        print("Send mail to:",e)

Send mail to: abc@gmail.com
Missing
Send mail to: 123@gmail.com
Missing

for -> fixed collection
while -> run until condition becomes false

WHILE LOOP-

Syntax-

while condition:
    action

In [4]:
#counting example
i=1

while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [8]:
value=int(input("enter a value"))

while value:
    print("value exists",value)
    break

value exists 6

In [ ]:
while True:
    print("Running forever")

In [10]:
#stop at first failure
marks=[70,80,30,90]

for m in marks:
    if m<40:
        print("Fail found")
        break

#break statement is to stop the loop or program at a certain point
#here break is used to stop at the first failure

Fail found

In [1]:
#continue

values=["Rahul","","Amit"]

for v in values:
    if not v:
        continue
    print(v)

#empty string is skipped
#continue is used to skip current iteration and go to next

Rahul
Amit

In [ ]:
#pass 
#placeholder for future code

for n in range(3):
    if n==1:
        pass       #do nothing
    else:
        print(n)

0
2

For loop-

1. nums=[10,20,30,40,35]
find and print numbers greater than 25

2. nums=[10,20,40]
add 10 to every number and print

3. nums=[20,30,70]
print sum of all numbers

4. names=["Rahul  ","  Amit"," Priya "]
clean the strings(remove extra spaces)

5. n=[1,2,4,5,6,8,9,3]
print only even numbers

6. n=[1,2,3,4,6]
print count of even numbers

7. names=["A","B","C"]
print each value along with its index

8. nums=[10,50,20]
find max value

In [4]:
nums=[10,20,30,40,35]
for n in nums:
    if n>25:
        print(n)

30
40
35

In [5]:
nums=[10,20,40]
for n in nums:
    print(n+10)

20
30
50

In [10]:
nums=[20,30,70]
total=0
for n in nums:
    total+=n
print(total)

120

In [7]:
names=["Rahul  ","  Amit"," Priya "]

for name in names:
    print(name.strip())

Rahul
Amit
Priya

In [11]:
n=[1,2,3,4,6]
count=0
for i in n:
    if(i%2==0):
        count+=1
print(count)

3

In [ ]:
#print every index and it's value
names=["A","B","C"]

for n in range(len(names)):
    print(n,names[n])

0 A
1 B
2 C

In [16]:
#max value
nums=[10,50,20]

max=nums[0]
for n in nums:
    if n>max:
        max=n
print(max)

50

WHILE LOOP

1. print 1 to 5

2. print 5 to 1

3. print even numbers uptil 10

In [19]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [20]:
i=5
while i>=1:
    print(i)
    i-=1

5
4
3
2
1

In [21]:
#print even numbers uptil 10
i=2

while i<=10:
    print(i)
    i+=2

2
4
6
8
10

In [22]:
#print every number multiplied by 2 uptil 5

i=1

while i<=5:
    print(i*2)
    i+=1

2
4
6
8
10

In [1]:
#sum of numbers from 1 to 5

i=1
total=0
while i<=5:
    total+=i
    i+=1
print(total)

15

In [2]:
#count digits in a number

number=12345
count=0

while number>0:
    number=number//10
    count=count+1
print("Digits:",count)

Digits: 5

In [5]:
#keep asking password until correct password

password=""

while password!="admin":
    password=input("enter the password")
    
    if(password!="admin"):
        print("enter the right password")
print("access granted")

enter the right password
access granted

In [8]:
#loop through a list using while

names=["Rahul","Amit","Priya"]
i=0
while i<len(names):
    print(names[i])
    i=i+1

Rahul
Amit
Priya

In [10]:
#stop when value found
# stop the loop when 20 is found
nums=[10,11,12,20,30,40]

i=0
while i<len(nums):
    if nums[i]==20:
        print("value found")
        break
    print("number found is:",nums[i])
    i=i+1

number found is: 10
number found is: 11
number found is: 12
value found

In [14]:
#skip even numbers between 1 to 10
i=1
while i<=10:
    if i%2==0:
        i=i+1
        continue
    print(i)
    i=i+1

1
3
5
7
9

In [15]:
#skip odd numbers between 1 to 10
i=1
while i<=10:
    if i%2!=0:
        i=i+1
        continue
    print(i)
    i=i+1

2
4
6
8
10

In [17]:
#find maximum in a list

nums=[10,45,20,99,30]
max_val=nums[0]

i=0
while i<len(nums):
    if nums[i]>max_val:
        max_val=nums[i]
    i=i+1

print(max_val)

99

In [20]:
#print squares upto 10
i=1
while i<=10:
    square=i*i
    print(f"number:{i},square {square}")
    i+=1

number:1,square 1
number:2,square 4
number:3,square 9
number:4,square 16
number:5,square 25
number:6,square 36
number:7,square 49
number:8,square 64
number:9,square 81
number:10,square 100

In [22]:
#print largest even number
nums=[11,22,33,44,66]
i=0
max_val=0

while i<len(nums):
    if nums[i]%2==0 and nums[i]>max_val:
        max_val=nums[i]
    i=i+1
print("largest even number is:",max_val)

largest even number is: 66